body{
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  

}

#newsletter{
  background-color: purple;
  height: 50px;
  }
#champs_newsletter{

  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -40px;
}
span{
  color:lightblue;
 
}
button{
  color:lightblue;
  border-radius: 10%;
  background-color: green;
}
input{
  border-radius: 10%;
}
/*fin navbar purple*/


.menu>ul{
  height: 100px;
  width: 1287px;
  display: flex;
  justify-content:space-evenly;
  align-items: center;
  

}


nav{
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items:center;
  border-bottom: 1px solid #000;
  width: 100%;
}

#newsletter img{
  width: 50px;
}
nav>div>img{
  height: 90px;
  width: 50px%;
  margin-left:0;
}

.logo{
  display: inline-block;
  margin-left: 0;
}

#contenu{
  width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

#contenu>p,ul,h2{
  text-align:justify;
}

#contenu>h1{
  text-align:center;
}



/*footer début*/

#champs_newsletter div{
  display: flex;
  align-items: center;
  justify-content: center;  
}

.section{
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid lightslategray;
}
footer>p{
  text-align:center;
}

